*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: var(--font-sans-serif);
  font-size: var(--fs-s);
  line-height: 1.6;
  background-color: var(--blanc);
  font-weight: 300;
}

h1,
h2 {
  font-weight: normal;
  line-height: 1.1;
}

h1 {
  font-size: var(--fs-4xl);
}

h2 {
  font-size: var(--fs-2xl);
}

h3 {
  line-height: 1.4;
}

input,
select,
textarea {
  appearance: none;
  border: none;
  background: none;
  outline: none;
  padding: 0;
  cursor: pointer;
}

/* Pour enlever l'apparence par défaut des listes */
.list-unstyled {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Pour rendre invisible mais laisser accessible */
.visuallyhidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

.noscroll {
  overflow: hidden;
}

.highlight {
  background-color: var(--primary);
  padding: 4px var(--space1x);
  font-weight: 500;
}

.contact__rectangle {
  margin-left: 20px;
  margin-bottom: 50px;
}

.contact__title {
  font-family: "Jersey 25";
  font-size: 1.5rem;
  text-align: center; 
}

.contact__text {
  font-family: "Jersey 15";
  text-align: center;
  margin-right: 10px;
}

.contact__rectangle__text {
  color: var(--blanc);
  margin-left: 45px;
}

.contact__rectangle__button {
  background-color: var(--rouge);
  border-radius: 25px;
  width: 185px;
  height: 40px;
  margin-left: 100px;
  margin-top: 20px;
}

.contact__rectangle--ovale,
.contact__rectangle--bigovale {
  margin-left: 45px;
}

.info__title {
  font-family: "Jersey 25";
  font-size: 1.5rem;
  text-align: center; 
}
.section__title{
  position: relative;
}
.prog--affiche__date{
  text-align: center;
}
.prog--affiche__heure{
  text-align: center;
}
.prog--affiche__image{
width: 50%;
margin-left: 100px;
}
.prog--affiche__réal{
text-align: center;
}
