
.carousel__controls {
  display: flex;
  gap: 16px;
  justify-content: center;
  align-items: center;
  margin: 16px 0;
}
.carousel__button {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 1px;
  border-radius: 50%;
}
.carousel__button--prev {
  transform: rotate(180deg);
}

.carousel__container {
  display:flex;
  overflow: scroll;
  overflow-y:hidden;
  margin-left: -24px;
  margin-right: -24px;
  scroll-snap-type: x mandatory;
}

.carousel__item {
  flex: 1 0 60%;
  scroll-snap-align: center;
}

.carousel__item img {
 display: block;
}
